.post {
    display: flex;
    align-items: flex-start;
    border-radius: 1px solid var(--twitter-background);
    padding-bottom : 10px;
}

.post__body > iframe {
    border-radius : 20px;
}


.post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
